<div style="padding:10px; " class="greenBg {{if this.isBlue (concat 'blueBg')}}">
    <img ...attributes style="width:10vw;" />
    <Card::Button @toggleBgPfunc={{this.toggleBg}}></Card::Button>
</div>